# Coverage.py configuration file

[run]
branch = True
source = msuthemes
omit =
    */tests/*
    */test_*.py
    */__pycache__/*
    */site-packages/*
    */dist-packages/*
    setup.py

[report]
precision = 2
show_missing = True
skip_covered = False
sort = Cover

exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    def __str__

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    if typing.TYPE_CHECKING:

    # Don't complain about abstract methods
    @abstractmethod
    @abc.abstractmethod

[html]
directory = htmlcov
title = MSUthemes Coverage Report

[xml]
output = coverage.xml
